<!-- Grid row -->
<div class="row m-0 p-0">

  <!-- Grid column -->
  <div class="top-nav w-100">

    <ul class="nav peach-gradient lighten-3 py-2 mb-1 font-weight-bold z-depth-1 ">
      <li class="nav-item">
        <a class="nav-link active white-text" href="#!">Home</a>
      </li>

      <li class="nav-item" (click)="tellRandomJoke()">
        <a class="nav-link active white-text" href="#!">Random Joke</a>
      </li>

      <!-- Search form -->
      <div class="form-inline my-0 md-form form-sm form-end" >
        <i class="fa fa-search" aria-hidden="true"></i>
        <input class="form-control active-pink form-control-sm ml-3 w-75" type="search" placeholder="Search"
          aria-label="Search" mdbInput>
      </div>
    </ul>

  </div>
  <!-- Grid column -->
</div>
<!-- Grid row -->