<!-- Grid row -->
<div class="row m-0 p-0">

  <!-- Grid column -->
  <div class="top-nav w-100">

    <ul class="nav peach-gradient lighten-3 py-2 mb-1 font-weight-bold z-depth-1 ">
      <li class="nav-item">
        <a class="nav-link active white-text" href="#!">Home</a>
      </li>

      <!-- <li class="nav-item">
        <a class="nav-link white-text" href="#!">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link white-text" href="#!">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link white-text" href="#!">Link</a>
      </li> -->
    </ul>

  </div>
  <!-- Grid column -->
</div>
<!-- Grid row -->